{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Farm Records</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="static/index.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand top-nav-text" href="#">Farm Records</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Add Farmer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/tractor-info">Add Tractor</a>
            </li>
            <li class="nav-item">
             <a class="nav-link" href="/all-tractors">Tractor Information</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h1 class="top-text">Welcome To Farm Records</h1>
    <main>
      <p>Add Tractor Information</p>
      <form class="form-class" method="post" action="/tractor-info">
        {% csrf_token %}
        {% if message %}
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          {{message}}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endif %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label label"
            >Farmer Name</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="textHelp"
            name="name"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Tractor Name</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            name="tractor_name"
            required
          />
        <div class="mb-3 mt-3">
            <input type="checkbox" class="form-check-input" name="harrow" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Harrow</label>
            <input type="checkbox" class="form-check-input" name="cultivator" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Cultivator</label>
            <input type="checkbox" class="form-check-input" name="rotavator" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Rotavator</label>
        </div>
        <div class="mb-3 mt-3">
            <input type="checkbox" class="form-check-input" name="plough" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Plough</label>
            <input type="checkbox" class="form-check-input" name="paddy trasher" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Paddy Trasher</label>
            <input type="checkbox" class="form-check-input" name="dumping trailer" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Dumping Trailer</label>
        </div>
        <div class="mb-3">
            <input type="checkbox" class="form-check-input" name="wheel" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">4 wheel Trailer</label>
        </div>
        <button type="submit" class="btn btn-primary">Add Tractor</button>
      </form>
    </main>
  </body>
</html>
